@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
/*  Sass     template */
/*  global classess*/
button, button:focus {
    outline: none !important;
    box-shadow: none !important;
}

/* typography classess*/
.font-baloo {
    font-family: "Baloo Thambi 2", cursive;
}

.font-rale {
    font-family: "Raleway", cursive;
}

.font-rubik {
    font-family: "Rubik", cursive;
}

.font-size-12 {
    font-size: 12px;
}

.font-size-14 {
    font-size: 14px;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-20 {
    font-size: 20px;
}

.color-primary {
    color: #003859;
}

.color-primary-bg {
    background: #003859;
}

.color-second {
    color: #00a5c4;
}

.color-second-bg {
    background: #00a5c4;
}

.color-blue {
    color: #00ffea;
}

.color-blue-bg {
    background: #00ffea;
}

.color-red {
    color: #2f52c4;
}

.color-red-bg {
    background: #2f52c4;
}

#top-sale .owl-carousel .item .product a {
    overflow: hidden;
}
#top-sale .owl-carousel .item .product img {
    transition: transform 0.5s ease;
}
#top-sale .owl-carousel .item .product img:hover {
    transform: scale(1.1);
}
#top-sale .owl-carousel .owl-nav button {
    position: absolute;
    top: 30%;
    outline: none;
}
#top-sale .owl-carousel .owl-nav button.owl-prev {
    left: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span {
    font-size: 35px;
    color: #003859;
    margin-left: -4rem;
    padding: 0 1rem;
}
#top-sale .owl-carousel .owl-nav button.owl-next {
    right: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-next span {
    font-size: 35px;
    color: #003859;
    margin-right: -4rem;
    padding: 0 1rem;
}

/*  special price tempalte*/
#hot-deal .grid .grid-item {
    margin-right: 1.2rem;
    margin-top: 1rem;
}
.menu ul li a{
    text-decoration: none;
    color: black;
}
.menu ul li a:hover{
    color: orange;
}
.menu {
    margin-bottom: 10px;
    text-align: center;
}
.menu img {
    margin-left: 10px;
    margin-right: 10px;
}
.menu ul li{
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
}
.menu img:hover{
    transform: scale(1,1.1);
    transition:.5s ease;
}
.topbar{
    position: relative;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu .topbar-social{
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding-left: 30px;
    color: teal;
}
.topbar-social-item{
    font-size: 18px;
    color:#00B4CC;
    padding: 10px;
    text-decoration: underline;
}
.search {
    width: 100%;
    position: relative;
    display: flex;
  }
  
  .searchTerm {
    border: 1px solid #00B4CC;
    border-right: none;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    padding-right: 20px ;
    margin-right: 0;
  }
  
  .searchTerm:focus{
    color: #00B4CC;
  }
  
  .searchButton {
    width: 35px;
    height: 30px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0px;
    cursor: pointer;
    font-size: 20px;
  }
  .topbar-child2{
      position: absolute;
      height: 100%;
      right: 0;
      top :0;
      align-items: center;
      flex-wrap: wrap;
      padding-right: 40px;


  }
  .topbar-icon-user{
    font-size: 20px;
    color: #00B4CC;
    padding: 10px;
  }

/*# sourceMappingURL=style.css.map */
